{% extends 'base.html' %}
{% block content %}

    
    <div class="row">
        <div class="col s4" >
            {% for photo in event.photoevent_set.all %}
            <img class="main-image" src="{{photo.url}}">
            {% endfor %}
        </div>
        <div class="col s4" >
            <h1>Event: {{ event.title }}</h1>
        </div>
        <div class="col s4" >
            <p>Host: {{ event.host }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Event Date: {{ event.datetime }}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <form action="{% url 'assoc_recipe' event.id  %}" method="POST">
            {% csrf_token %}
                <select name="recipes" class="add-recipe">
                    {% for recipe in recipes_not_in_event %}
                    <option name='recipe' value="{{recipe.id}}">{{ recipe.title }}</option>
                    {% endfor %}
                </select>
         
            <input type="submit" value="Add Recipe">
        </form>
    </div>
    <div class="divider"></div>
   
    <div class="row">

        <!-- {% if recipes_in_event.count %}
            {% for recipe in recipes_in_event %}
                <div class="col s3 m6 l8 xl8">
                    <div class="card" style="border-radius: 20px;">
                        <a href="{{ recipe.url }}" target="_blank">
                            <div class="card-content" style="border-radius: 20px;">
                                <span class="card-title" style="border-radius: 20px;">{{ recipe.title }}</span>
                            </div>
                        </a>
                        {% for photo in recipe.photorecipe_set.all %}
                        <div class="card-image" style="border-radius: 20px;">
                            <img style="border-radius: 20px;" src="{{photo.url}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
            <h5>Get to cookin, you don't have any recipes yet!!</h5>
        {% endif %} -->


    </div>

{% endblock %}

    



    <div class="row">
        {% if recipes_in_event.count %}
        {% for recipe in recipes_in_event %}

        <div class="col s6 m3 l2 xl1">
            <div class="card">

                <div class="card-content">
                    <a href="{{ recipe.url }}" target="_blank"><span class="card-title">{{ recipe.title }}</span></a>
                    <form action="{% url 'vote_up' event.id recipe.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn"><i class="large material-icons">thumb_up</i></button>
                    </form>
                    <div>vote score: {{ tally | get_item:recipe.id }}</div>
                </div>
                {% for photo in recipe.photorecipe_set.all %}
                <div class="card-image" class="card_image">
                    <img class="card_image" src="{{photo.url}}">
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>Suggest a recipe for the event!</h5>
        {% endif %}
    </div>