{% extends 'base.html' %}
{% block content %}

<div id="eventDetailRow">
    <div id="eventDetailHeading">
        {% for photo in event.photoevent_set.all %}
        <div style="background: url({{photo.url}}); background-size: cover; background-position: center;">
        {% endfor %}
        </div>
        <div>
            <h1>Event: {{ event.title }}</h1>
        </div>
        <div>
            <p>Host: {{ event.host }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Date: {{ event.datetime|date:"DATE_FORMAT" }}</p>
            <p>Time: {{ event.datetime|time:"h:i" }}</p>
        </div>
        <h3>Recommend A Recipe:</h3>
        <form action="{% url 'assoc_recipe' event.id  %}" method="POST">
            {% csrf_token %}
            <select name="recipes" class="add-recipe">
                <option value="choose a recipe!">Choose a recipe!</option>
                {% for recipe in recipes_not_in_event %}
                <option name='recipe' value="{{recipe.id}}">{{ recipe.title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Recipe">
        </form>
    </div>
        
    <div class="eventColumnTwo">
        <div class="eventRecipeRow">

            {% if recipes_in_event.count %}
                {% for recipe in recipes_in_event %}
                {% for photo in recipe.photorecipe_set.all %}
                    <div class="eventRecipeCard" >
                        <div class="eventRecipeImageCard" style="background: url({{photo.url}}); background-size: cover; background-position: center; "></div>
                        <div>
                            <a href="{{ recipe.url }}" target="_blank"><span class="eventRecipeCardTitle">{{ recipe.title }}</span></a>
                            <form action="{% url 'vote_up' event.id recipe.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">👍</button>
                            </form>
                        </div>
                        <div>
                            <p>votes: {{ tally | get_item:recipe.id }}</p>
                            <p>Recommended by:</p>
                            <p>{{ recipe.user }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% else %}
                <h5>Get to cookin, you don't have any recipes yet!!</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
