{% extends 'base.html' %}
{% block content %}
<div class="in-flex">
    <div class="card" style="border-radius: 20px; padding: 25px;">
        <h5>CREATE YOUR EVENT</h5>
            <form action="{% url 'add_event' group.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ event_form.as_p }}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Add Event">
            </form>
    </div>
</div>
<script>
    const dateEl = document.getElementById('id_datetime');
    M.Datepicker.init(dateEl, {
        format: 'yyyy- mm - dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}