{% extends 'base.html' %}
{% block content %}


    <div class="row">
        <div class="col s4">
            {% for photo in group.photogroup_set.all %}
            <img class="main-image" src="{{photo.url}}">
            {% endfor %}
        </div>
        <div class="col s4">
            <h1>Group: {{ group.name }}</h1>
        </div>
        <div class="col s4">
            <p>Creator: {{ user.profile.name }}</p>
            <p>Description: {{ group.description }}</p>
            <p>Creation Date: {{ group.created_at }}</p>
            <pre><a class="card-title" href="{% url 'groups_update' group.id %}">Edit Info</a>    <a class="card-title" href="{% url 'groups_delete' group.id %}">Delete Group</a>
        </div>
    </div>



    <div class="row">
        <h3>{{ group.name }}'s Members</h3>
        {% if profiles.count %}
        {% for profile in profiles.all %}
        <div class="col s3">
            <span class="card-title" style="width: 200px;">{{ profile.name }}</span>
            <div class="card small">
                <div class="card-content">
                    {% for photo in profile.photoprofile_set.all %}
               
                        <img class="main-image" src="{{photo.url}}" style="border-radius: 15px;">
          
                    {% endfor %}
                    <form action="{% url 'unassoc_profile' group.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Leave</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No Members :(</h5>
        {% endif %}
    </div>


<!-- 
    <div class="row">
        <h3>{{ group.name }}'s Members</h3>
        {% if group.members.count %}
            {% for member in group.members.all %}
            <div class="col s3">
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title">
                            {{ member.name }}
                        </span>
                        {% for photo in profiles.photoprofile_set.all %}
                        <img class="main-image" src="{{photo.url}}">
                        {% endfor %}
                        <form action="{% url 'unassoc_profile' group.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Leave</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h5>No Members :(</h5>
        {% endif %}
    </div> -->
    <h3>Group Events:</h3>
    <a class=btn href="{% url 'events_create' group.id %}"> ADD AN EVENT</a>
    <br>
    <br>
    {% if group.event_set.all.count %}
    {% for event in group.event_set.all %}
    <div class="row">
        <div class="col s4">
            {% if event.photoevent_set.all.count %}
            {% for photo in event.photoevent_set.all %}
            <div class="card-image" class="card_image">
                <img class="card_image" src="{{photo.url}}">
            </div>
            {% endfor %}
            {% else %}
            <form action="{% url 'add_photo_event' event.id %}" enctype="multipart/form-data" method="POST"
                class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
            {% endif %}
        </div>
        <div class="col s6">
            <div class="card content">
                <div class="group_margin">
                    <a href="{% url 'events_detail' event.id %}">
                        <span class="card-title">{{ event.title }}</span></a>
                    <p>Host: {{ event.host }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p>Event Date: {{ event.datetime }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>Y'all need to get together and make some events!</h5>
    {% endif %}


{% endblock %}