{% extends 'base.html' %}
{% block content %}

<div id="groupDetailRow">
    <div id="groupDetailHeading">
        {% for photo in group.photogroup_set.all %}
        <div style="background: url({{photo.url}}); background-size: cover; background-position: 50%;">
        {% endfor %}
        </div>
        <div >
            <h1>Group: {{ group.name }}</h1>
        </div>
        <div >
            <p>Creator: {{ group.leader }}</p>
            <p>Description: {{ group.description }}</p>
            <p>Date: {{ group.created_at|date:"DATE_FORMAT" }}</p>                   
            <a class="card-title" href="{% url 'groups_update' group.id %}">Edit Info</a>    
            <a class="card-title" href="{% url 'groups_delete' group.id %}">Delete Group</a>
        </div>
    </div>
    <div class="groupColumnTwo">
        <h3>{{ group.name }} Members</h3>
        <div class="groupMembersRow">
            {% if profiles.count %}
            {% for profile in profiles.all %}
            {% for photo in profile.photoprofile_set.all %}
                <div class="groupDetailMembersCard" style="background: url({{photo.url}}); background-size: cover; background-position: 50%;">
                    <div class="groupDetailMembersContent">
                        <span class="groupDetailMemberCardTitle">{{ profile.name }}</span>
                        <form action="{% url 'unassoc_profile' group.id %}" method="POST">
                            {% csrf_token %}
                            <button id="leaveButton" type="submit" class="btn">Leave</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            {% else %}
            <h5>No Members :(</h5>
            {% endif %}
        </div>

        <div class="horizontal">
            <h3>Group Events:</h3>
            <a class=btn href="{% url 'events_create' group.id %}"> ADD AN EVENT</a>
        </div>
        <div class="groupDetailEventsRow">
        {% if group.event_set.all.count %}
        {% for event in group.event_set.all %}
            <div >
                <div class="groupDetailEventsCard">
                    {% for photo in event.photoevent_set.all %}
                    <div class="groupDetailEventsImageCard" style="background: url({{photo.url}}); background-size: cover; background-position: 50%; "></div>
                    {% endfor %}
                    <div>
                        <a href="{% url 'events_detail' event.id %}">
                        <span class="card-title">{{ event.title }}</span></a>
                    </div>
                    <div>
                        <p>Host: {{ event.host }}</p>
                        <p>Location: {{ event.location }}</p>
                        <p>Date: {{ event.datetime|date:"DATE_FORMAT" }}</p>
                        <p>Time: {{ event.datetime|time:"h:i" }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>Y'all need to get together and make some events!</h5>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
