{% extends 'base.html' %}
{% block content %}

<div class="dashboard-main">

        <div class="dashboardHeading">
            <h5>Your upcoming events are:</h5>
        
            {% for photo in user.profile.photoprofile_set.all %}
            <div style="background: url({{photo.url}}); background-size: cover; background-position: 50%;"></div>
            {% endfor %}
            <h5 id="welcomeUsername">Hi, {{ user.profile.name }}!</h5>
            <p>On the right are your recipes!</p>
            <p>BELOW you can add a new recipe! Once added
                you will be able to recommend them in events that you are part of</p>
            <form action="{% url 'add_recipe' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <p>Upload a photo (required):</p>
                <input type="file" required name="photo-file">
                <input type="submit" class="btn" value="Add Recipe!">
            </form>
        </div>


    <div class="horizontal" id="groupIndexHeading">
        <h3>Groups</h3>
        <h3><a href="{% url 'groups_create' %}"> START A GROUP</a></h3>
    </div>

    <div class="groupIndexRow">
        {% for group in groups %}
        <div id="groupColumn">
            <div class="groupCard">
                {% for photo in group.photogroup_set.all %}
                <div class="groupImageCard" style="background: url({{photo.url}}); background-size: cover; background-position: 50%; "></div>
                {% endfor %}
            
                <div>
                    <a href="{% url 'detail' group.id %}"><span class="card-title">{{ group.name }}</span></a>
                    <form action="{% url 'assoc_profile' group.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="groupBtn">JOIN</button>
                    </form>
                </div>
                <div>
                    <p>Creator: {{ group.leader }}</p>
                    <p>Description: {{ group.description }}</p>
                    <p>Established: {{ group.created_at|date:"DATE_FORMAT" }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 
</div>

{% endblock %}