{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Groups</h1>
        <a class="btn" href="{% url 'groups_create' %}"> ADD A GROUP</a>
    </div>
    <div class="row">
        {% for group in groups %}
        <div class="col s4">
            <div class="card" style="border-radius: 20px;">
                <div class="card-content" style="border-radius: 20px;">
                    <a href="{% url 'detail' group.id %}">
                        <span class="card-title">{{ group.name }}</span>
                    </a>
                    <p>Creator: {{ user.profile.name }}</p>
                    <p>Description: {{ group.description }}</p>
                    <p>Established: {{ group.created_at|date:"DATE_FORMAT" }}</p>
                    <div class="card-action">
                        <form action="{% url 'assoc_profile' group.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Join Group</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}