{% extends 'base.html' %}
{% block content %}

    <div class="in-flex">
        <h3>Groups</h3>
        <a class="btn" href="{% url 'groups_create' %}"> START A GROUP</a>
    </div>

    <div class="row">
        {% for group in groups %}
        <div class="col s3 m3 l3 xl3" >
            <div class="card">
                {% for photo in group.photogroup_set.all %}
                <div class="image-card" class="card-image waves-effect waves-block waves-light" style="border-radius: 15px;">
                    <img src="{{photo.url}}" style="border-radius: 15px; max-height: 30vh;">
                </div>
                {% endfor %}
                <div class="card-content" style="border-radius: 15px;">
                    <a href="{% url 'detail' group.id %}">
                        <span class="card-title">{{ group.name }}</span></a>
                    <p>Creator: {{ user.profile.name }}</p>
                    <p>Description: {{ group.description }}</p>
                    <p>Established: {{ group.created_at|date:"DATE_FORMAT" }}</p>
                    <form action="{% url 'assoc_profile' group.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Join Group</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 


{% endblock %}