{% extends 'base.html' %}
{% block content %}

    <div class="horizontal" id="recipeIndexHeading">
        <h3>{{ user.profile.name }}'s Recipes</h3>
        <h3><a class="btn" href="{% url 'recipes_create_page' %}"> ADD A NEW RECIPE</a><h3>
        <!-- <a class="btn-floating btn-med waves-effect waves-light red" href="{% url 'recipes_create_page' %}"><h3>+</h3></a> -->
    </div>
    <div class="recipeIndexRow">
        {% if recipes.count %}
        {% for recipe in recipes %}
        {% for photo in recipe.photorecipe_set.all %}

            <div class="recipeCard" style="background: url({{photo.url}}); background-size: cover; background-position: center; ">
                <a href="{{ recipe.url }}" target="_blank">
                    <div class="recipeCardContent">
                        <span class="recipeCardTitle">{{ recipe.title }}</span>
                    </div>
                </a>

        
                {% endfor %}
            </div>

        {% endfor %}
        {% else %}
        <h5>Get to cookin, you don't have any recipes yet!!</h5>
        {% endif %}
    </div>

{% endblock %}


<!-- <img style="border-radius: 20px;" src="{{photo.url}}"> -->

  
 


<!-- <div class="card-image" style="border-radius: 20px; background: url({{photo.url}}); height: 100%;">
                          
                        </div>