{% extends 'base.html' %}
{% block content %}

<div class="in-flex">
  
        <h3>{{ user.profile.name }}'s Recipes</h3>
 
        <a class="btn" href="{% url 'recipes_create_page' %}"> ADD A NEW RECIPE</a>
        <a class="btn-floating btn-med waves-effect waves-light red" href="{% url 'recipes_create_page' %}"><h3>+</h3></a>

</div>

<div class="row">
        
                {% if recipes.count %}
                {% for recipe in recipes %}
                <div class="col s3 m3 l3 xl3">
                    <div class="card" style="border-radius: 20px; max-height: 35vh;">
                        <a href="{{ recipe.url }}" target="_blank">
                            <div class="card-content" style="border-radius: 20px;">
                                <span class="card-title" style="border-radius: 20px;">{{ recipe.title }}</span>
                            </div>
                        </a>
                        {% for photo in recipe.photorecipe_set.all %}
                        <div class="card-image" style="border-radius: 20px;">
                            <img style="border-radius: 20px;" src="{{photo.url}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>Get to cookin, you don't have any recipes yet!!</h5>
                {% endif %}


</div>

{% endblock %}


  
 

