{% extends 'base.html' %}
{% block content %}
<div class="in-flex">
            <div class="card" style="border-radius: 20px; padding: 20px;">
                <h5>ADD A RECIPE TO YOUR LIST!</h5>

                        <form action="{% url 'add_recipe' %}" enctype="multipart/form-data"  method="POST">
                            {% csrf_token %}
                            {{ recipe_form.as_p }}
                            <p>Upload a photo (required):</p>
                            <input type="file" required name="photo-file">
                            <input type="submit" class="btn" value="Add Recipe!">
                        </form>
                    </div>
              
            </div>
</div>

{% endblock %}

