{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row"></div>
        <div class="col">
            <div class="card" style="border-radius: 20px;">
                <h5>ADD A RECIPE TO YOUR LIST!</h5>
                    <div class="card-content" style="border-radius: 20px;">
                        <form action="{% url 'add_recipe' %}" enctype="multipart/form-data"  method="POST">
                            {% csrf_token %}
                            {{ recipe_form.as_p }}
                            <p>Upload a photo (required):</p>
                            <br>
                            <input type="file" required name="photo-file">
                            <br>
                            <input type="submit" class="btn" value="Add Recipe!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

