{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste•Buds</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Mukta:wght@300&display=swap"
        rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %}
        <nav id="loggedIn">
            <div class="nav_ul">
                <h5 class="taste_title">TASTE•BUDS</h5>
            </div>
            <ul class="nav_ul">
                <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
                <li><a href="{% url 'index' %}">GROUPS</a></li>
                <li><a href="{% url 'recipes_index' %}">MY RECIPES</a></li>
                <li><a href="{% url 'logout' %}">LOG OUT</a></li>
            </ul>
        </nav>
        {% else %}
        <nav id="loggedOut">
            <form action="/accounts/login/" enctype="multipart/form-data" method="POST" id="guest_form">
                {% csrf_token %}
                <!-- <input type="hidden" name="username" value="guest">
                <input type="hidden" name="password" value="tasteBudsGuest"> -->
                <input type="hidden" name="username" value="guest-account">
                <input type="hidden" name="password" value="taste-buds-guest">
                <input type="submit" class="btn" id="guest_login" value="GUEST LOGIN">
            </form>
            <li id="login"><a href="{% url 'login' %}">LOG IN</a></li>
        </nav>
        
        {% endif %}
    <div class="body2">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
            <h5>© 2022 Cali Coders</h5>
    </footer>
</body>
</html>