{% extends 'base.html' %}
{% block content %}


  <h5>Your upcoming events are:</h5>
    
    <div class="dashboardRow">
        {% for group in groups %}
        {% for event in group.event_set.all %}
     
            <div class="dashboardCard">
                {% for photo in event.photoevent_set.all %}
                <div class="groupImageCard" style="background: url({{photo.url}}); background-size: cover; background-position: 50%; "></div>
        
                {% endfor %}
   
                <span ><a href="{% url 'events_detail' event.id %}">
                <span class="card-title">{{ event.title }}</a></span>
                <p>Host: {{ event.host }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Date: {{ event.datetime|date:"DATE_FORMAT" }}</p>
                <p>Time: {{ event.datetime|time:"h:i" }}</p>
    
                <div class="dashboardCardReverse">
                    <span><a href="{% url 'detail' group.id %}"><span
                                class="card-title">{{ group.name }}</span></a><i
                            class="material-icons right">close</i></span>
                    <p>Leader: {{ group.leader }}</p>
                    <p>Description: {{ group.description }}</p>
                    <p>Established: {{ group.created_at|date:"DATE_FORMAT" }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>



<script>




</script>

{% endblock %}
