{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="home_background">
        <div class="landing_titles">
            <h1 class="taste_title">TASTE•BUDS</h1>
            <h5 class="header">A community based platform for planning your next group meal</h5>
            <a id="signUp" href="{% url 'signup' %}">SIGN UP!</a>
        </div>
        <div>
        </div>
    </div>

    <div class="landingInfo">
        <div>
            <h3 ><i class="material-icons">report_problem</i></h3>
            <h3 >The Problem</h3>
            <p >Planning Group Meals Can Be Frustrating! Are you tired of scrolling through Group Message
                Threads
                when trying to plan
                a dinner with friends? Having difficulty sharing recipe suggestions for your next group meal?
                After all that, how do you find consensus for what to make for dinner?</p>
        </div>
        <div>
            <h3><i class="material-icons">assistant_photo</i></h3>
            <h3>Mission Statement</h3>
            <p>Communal dining is a core component of our social lives. We seek to overcome the hurdles
                that we face when using
                traditional communication methods to plan a group </p>
        </div>
        <div>
            <h3 ><i class="material-icons">favorite</i></h3>
            <h3 >The Solution</h3>
            <p >Generate an event, then save logistical details for your group’s next meal,.
                Build a collection of your favorite recipes, then suggest them to any group.
                Let the group vote to finalize the menu for your gathering!
            </p>
        </div>
    </div>


{% endblock %}