html {
  margin: none;
  padding: none;
  min-height: 100%;
  background-image: url("../images/background4.jpeg");
  background-size: auto;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/*************** NAV BAR *****************/
nav {
  background-color: #7D909C;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div > img {
  margin: 0 1vw;
}

.nav_ul > li {
  display: inline-block;
  margin: 0 2vw;
}

.nav_ul > li > a:hover {
  color: white;
}


#welcomeUsername {
  color: rgb(206, 206, 206);
  text-transform: uppercase;
  font-size: 2vw;
}

.user-image {
  max-height: 7vh;
  border-radius: 15px;
} 

/*************** BODY *****************/
.body2 {
  display: flex;
  margin: none;
  padding: none;
  min-height: 85vh;
  flex-direction: column;
  font-family: 'Mukta', sans-serif;
  overflow: scroll;
}

main {
  flex: 1 0 auto;
}

.home_background {
  background-image: url("../images/main_img1.jpeg");
  height: 250px;
  align-items: center;
  justify-content: center;
}

.horizontal {
  display: flex;
  justify-content: center;
  height: 6vh;
  align-items: center;
}

/*************** FOOTER *****************/

footer {
  background-color: #7D909C;
  position: sticky;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
}

/*************** LANDING PAGE *****************/
footer.page-footer {
  padding-top: 0;
  padding-right: 50px;
  text-align: right;
}

.taste_title {
  text-align: center;
  margin-top: 0;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
}

.land_icon {
  text-align: center;
  margin: none;
}

.header {
  color: white;
  font-weight: 900;
}

.landing_titles {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
/*******************  DASHOARD ********************/
.dashboardRow {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.dashboardCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 40vh;
  overflow: hidden;
}

.dashboardCardReverse {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 40vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}




/*************** Group Index Page *****************/
#groupIndexHeading > h3 {
  margin: 5px;
}

.groupIndexRow {
  height: 79vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

#groupColumn {
  display: flex;
  flex-direction: column;
}

.groupCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 40vh;
  overflow: hidden;
}

.groupCardContent {
  padding: 5px;
}

.groupImageCard {
  height: 20vh;
  border-radius: 15px; 
}

#groupBtn {
  background-color: #ff4926;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 3vh;
}



/*************** Group Detail Page *****************/
.groupDetailColumn {
  display: flex;
  flex-direction: column;
}

#groupDetailHeading {
  height: 25vh;
  display: flex;
}

.groupDetailImage {
  width: 10vw;
}

.groupMembersRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.groupDetailMembersCard {
  height: 25vh;
  min-height: 25vh;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.groupDetailMembersContent {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  background-image: url("../images/bamboo12.png");
  background-size: fill;
  padding: 5px;
  border-radius: 20px; 
  opacity: 0.85;
}

.groupDetailMemberCardTitle {
  color: #ff4926;
  text-transform: uppercase;
  overflow: hidden;
}

.groupDetailMembersContent > form {
  display: flex;
  align-items: center;
}

#leaveButton {
  background-color: #ff4926;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 3vh;
  cursor: pointer;
  padding: 3px;
}

/*************** Events Detail Page *****************/
.eventDetailColumn {
  display: flex;
  flex-direction: column;
}

.eventDetailHeading {
  height: 25vh;
  display: flex;
}

#eventDetailImage {
  width: 10vw;
  object-fit: cover;
}

.eventRecipeRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.eventRecipeCard {
  border-radius: 20px;
  height: 27.5vh;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  contain: content;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.eventRecipeCardContent {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  background-image: url("../images/bamboo12.png");
  background-size: fill;
  padding: 5px;
  border-radius: 20px; 
  opacity: 0.85;
}

.eventRecipeCardTitle {
  color: #ff4926;
  text-transform: uppercase;
}



/*************** Recipes Index Page *****************/
#recipeIndexHeading > h3 {
  margin: 5px;
}

.recipeIndexRow {
  height: 79vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.add-recipe {
  display: block;
}

 .recipeCard {
  border-radius: 20px;
  height: 27.5vh;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  contain: content;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.recipeCardContent {
  background-image: url("../images/bamboo12.png");
  background-size: fill;
  padding: 5px;
  border-radius: 20px; 
  opacity: 0.85;
}

.recipeCardTitle {
  color: #ff4926;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 50px;
}

/*************** OTHER *****************/

.card-title {
  color: #ff4926;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 50px;
}

/* .btn {
  background-color: #ff4926;
} */

.btn:hover {
  background-color: #90a4ae
}

img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

 .card, .card-panel {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  max-width: 50vw;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  contain: content;
  overflow: hidden;
}
.card-image, .card-reveal, .card-content {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
}

.card-content {
  padding: 5px !important;
}


.image-card {
  text-align: center;
  object-position: center;
}

.in-flex {
  display: inline-flex;
  justify-content: center;
}

form {
  color: black;
  font-weight: 900;
  font-size: larger;
}

/* #coders {
  float: right;
} */