html {
  margin: none;
  padding: none;
  min-height: 100%;
  background-image: url("../images/background4.jpeg");
  background-size: auto;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/*************** NAV BAR *****************/
#loggedIn {
  background-color: #7D909C;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

#loggedOut {
  background-color: #7D909C;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div > img {
  margin: 0 1vw;
}

.nav_ul > li {
  display: inline-block;
  margin: 0 2vw;
}

.nav_ul > li > a:hover {
  color: white;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 73, 38, 1);
  padding: 3px;
  margin-right: 5vw;
  border-radius: 5px;
  border: 1px solid black;
  width: 10vh;
  height: 5vh;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
}

#login > a {
  color: black;
}

#guest_form {
  min-width: 12vw;
  margin-right: 2vw;
}

#guest_login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 73, 38, 1);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 12vw;
  width: 12vw;
  height: 5vh;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);

}

#guest_login > a {
  color: black;
}

#welcomeUsername {
  color: black;
  text-transform: uppercase;
  font-size: 2vw;
}

.user-image {
  max-height: 7vh;
  border-radius: 15px;
} 

/*************** BODY *****************/
.body2 {
  display: flex;
  margin: none;
  padding: none;
  min-height: 85vh;
  flex-direction: column;
  font-family: 'Mukta', sans-serif;
  overflow: scroll;
}

main {
  flex: 1 0 auto;
}

.horizontal {
  display: flex;
  justify-content: center;
  height: 6vh;
  align-items: center;
}

/*************** FOOTER *****************/

footer {
  background-color: #7D909C;
  position: sticky;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
}

/*************** LANDING PAGE *****************/
.home_background {
  background-image: url("../images/main_img1.jpeg");
  height: 40vh;
}

.landing_titles {
  background-color: rgba(0, 0, 0, 0.5);
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taste_title {
  text-align: center;
  margin: none;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 8vh;
  font-weight: bolder;
  line-height: 7vh;
}

.land_icon {
  text-align: center;
  margin: none;
}

.header {
  color: white;
  font-weight: 900;
}

#signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 73, 38, 1);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  width: 10vh;
  height: 5vh;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
  color: black;
  margin-top: 3vh;
}

.landingInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  padding: 2vw;
}

.landingInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 1);
}




/*******************  DASHBOARD ********************/

.dashboard-main {
  display: flex;
  height: 85vh;
}

.dashboardHeading {
  width: 20vw;
  height: 84vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(192, 192, 192, 0.75);
  box-shadow: 3px 5px 5px rgb(161, 161, 161);
  margin-left: 0.25vw;
}

.dashboardHeading > div:nth-child(2n) {
  height: 25vh;
  border-radius: 10px;
}

.dashboardColumnTwo {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2vw;
  gap: 1vw;
  margin: none;
  align-items: start;
}

.dashboardCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 45vh;
  width: 22vw;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.dashboardCard > div:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.75);
  font-size: large;
  font-weight: 900;
  border: 0.1px solid black;
}

.dashboardCard > div:nth-child(3n) {
  padding: 5px;
}

.dashboardImageCard {
  height: 20vh;
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 3vh;
}

.CardReverse {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 45vh;
  width: 22vw;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.CardReverseImageCard {
  height: 20vh;
}

.CardReverse > div:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.75);
  font-size: large;
  border: 0.1px solid black;
}

.CardReverse > div:nth-child(3n) {
  padding: 5px;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}

#open, #close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 73, 38, 0.85);
  color: black;
  font-size: x-large;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  height: 3vh;
  width: 3vh;
  box-shadow: 3px 5px 5px rgb(161, 161, 161);
  text-align: center;
}

/*************** Group Index Page *****************/
#groupIndexHeading > h3 {
  margin: 5px;
}

.groupIndexRow {
  height: 79vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

#groupColumn {
  display: flex;
  flex-direction: column;
}

.groupCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 40vh;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.groupCard > div:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.75);
  font-size: large;
  font-weight: 900;
  border: 0.1px solid black;
}

.groupCard > div:nth-child(3n) {
  padding: 5px;
}

.groupImageCard {
  height: 20vh;
}

#groupBtn {
  background-color: rgba(255, 73, 38, 0.85);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  width: 6vh;
  height: 3vh;
  box-shadow: 3px 5px 5px rgb(161, 161, 161);
  text-align: center;
}

/*************** Group Detail Page *****************/
#groupDetailRow {
  display: flex;
  height: 85vh;
  align-items: center;
}

#groupDetailHeading {
  width: 25vw;
  height: 84vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(192, 192, 192, 0.75);
  box-shadow: 3px 5px 5px rgb(161, 161, 161);
  margin-left: 0.25vw;
}

#groupDetailHeading > div:nth-child(1) {
  height: 25vh;
  border-radius: 10px;
}

#groupDetailHeading > div:nth-child(2n) {
  padding: 2vh;
}

#groupDetailHeading > div:nth-child(3n) {
  padding: 2vh;
}

.groupColumnTwo {
  display: flex;
  flex-direction: column;
}

.groupDetailImage {
  width: 10vw;
}

.groupMembersRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.groupDetailMembersCard {
  height: 25vh;
  min-height: 25vh;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.groupDetailMembersContent {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  background-image: url("../images/bamboo12.png");
  background-size: fill;
  padding: 5px;
  border-radius: 20px; 
  opacity: 0.85;
}

.groupDetailMemberCardTitle {
  color: #ff4926;
  text-transform: uppercase;
  overflow: hidden;
}

.groupDetailMembersContent > form {
  display: flex;
  align-items: center;
}

#leaveButton {
  background-color: #ff4926;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 3vh;
  cursor: pointer;
  padding: 3px;
}

.groupDetailEventsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
  margin-bottom: 2vh;
}

.groupDetailEventsCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 45vh;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.groupDetailEventsImageCard {
  height: 20vh;
}

.groupDetailEventsCard > div:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.75);
  font-size: large;
  font-weight: 900;
  border: 0.1px solid black;
}

.groupDetailEventsCard > div:nth-child(3n) {
  padding: 5px;
}



/*************** Events Detail Page *****************/
#eventDetailRow {
  display: flex;
  height: 85vh;
  /* align-items: center; */
}

#eventDetailHeading {
  width: 25vw;
  height: 84vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(192, 192, 192, 0.75);
  box-shadow: 3px 5px 5px rgb(161, 161, 161);
  margin-left: 0.25vw;
  align-self: center;
}

#eventDetailHeading > div:nth-child(1) {
  height: 25vh;
  border-radius: 10px;
}

#eventDetailHeading > div:nth-child(2n) {
  padding: 2vh;
}

#eventDetailHeading > div:nth-child(3n) {
  padding: 2vh;
}

.eventColumnTwo {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

#eventDetailImage {
  width: 10vw;
  object-fit: cover;
}

.eventRecipeRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.eventRecipeCard {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  height: 45vh;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.eventRecipeImageCard {
  height: 20vh;
}

.eventRecipeCard > div:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.75);
  font-size: large;
  font-weight: 900;
  border: 0.1px solid black;
}

.eventRecipeCard > div:nth-child(3n) {
  padding: 5px;
}

.eventRecipeCardTitle {
  color: #ff4926;
  text-transform: uppercase;
}



/*************** Recipes Index Page *****************/
#recipeIndexHeading > h3 {
  margin: 5px;
}

.recipeIndexRow {
  height: 79vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2vw;
  gap: 1vw;
}

.add-recipe {
  display: block;
}

 .recipeCard {
  border-radius: 20px;
  height: 27.5vh;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  contain: content;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(116, 115, 115);
}

.recipeCardContent {
  background-image: url("../images/bamboo12.png");
  background-size: fill;
  padding: 5px;
  border-radius: 20px; 
  opacity: 0.85;
}

.recipeCardTitle {
  color: #ff4926;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 50px;
}

/*************** OTHER *****************/

.card-title {
  color: #ff4926;
  text-transform: uppercase;
}


form {
  color: black;
  font-weight: 900;
  font-size: larger;
}
