html {
  margin: none;
  padding: none;
  min-height: 100%;
  background-image: url("../images/background4.jpeg");
  background-size: auto;
}

.body2 {
  display: flex;
  margin: none;
  padding: none;
  min-height: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: 'Mukta', sans-serif;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  padding-right: 50px;
  text-align: right;
}

.home_background {
  background-image: url("../images/main_img1.jpeg");
  height: 250px;
  align-items: center;
  justify-content: center;
}

.taste_title {
  text-align: center;
  margin-top: 0;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
}

.land_icon {
  text-align: center;

  margin: none;
}

.header {
  color: white;
  font-weight: 900;
}

h5 {
  text-align: center;
}

.landing_titles {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#footer {
  margin: 40px;
}

.add-recipe {
  display: block;
}

.main-image {
  max-height: 50px;
  vertical-align: middle;
  margin: 0 20px;

}

#welcome {
  color: black;
  text-transform: uppercase;
  font-size: larger;
}

.card-title {
  color: #ff4926;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 50px;
}

.btn {
  background-color: #ff4926;
}

.btn:hover {
  background-color: #90a4ae
}

.row {
  height: 50vh;
}

img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

 .card, .card-panel {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  border-radius: 20px;
  max-width: 50vw;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  contain: content;
  overflow: hidden;
}
.card-image, .card-reveal, .card-content {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
}

.card-content {
  padding: 5px !important;
}


.image-card {
  text-align: center;
  object-position: center;
}

.in-flex {
  display: inline-flex;
  justify-content: center;
}

form {
  color: black;
  font-weight: 900;
  font-size: larger;
}

#coders {
  float: right;
}